#eclipse
.classpath
.settings
.project

#java stuff
*.class
*.jar

#build
/target
/bin/
/lib
/releases
/reports
/temp
/ws
/plugins_bin
/plugins_install
/cache
/.classpath
/.project
/cache.ccf
/merlin
/merlin/*
/h2Database
/conf/database_settings.conf
/conf/email.conf
h2*.db
java_pid*.*
*.log
*.old
*.bak
/Workbench_databases/
/utilities/backup*.*
/maven-status


#eclipse
.settings

#build folders
/target
/test-bin
/test_bin/

#temp
gff_error_report.txt
