<plugin start="true">
	<uid>merlin-workspace-compatibility</uid>
	<name>pt.uminho.ceb.biosystems.merlin.workspace.compatibility</name>
	<version>2.5.1</version>

	<dependencies>
		<dependency uid="merlin" />
	</dependencies>

	<extensions>
	
		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
		
		<extension uid="aibench.core" name="aibench.core.operation-definition"
			class="pt.uminho.ceb.biosystems.merlin.converter.ConverterGUI">
			<operation-description name="import workspace from merlin 3"
				path="25@workspace/30@compatibility" uid="operations.ConverterGUI.ID" />
		</extension>

		<extension uid="aibench.workbench" name="aibench.workbench.view">
			<icon-operation operation="operations.ConverterGUI.ID"
				icon="icons/Lifecycle/upload.png" />
		</extension>
		
		<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->
		
	</extensions>
		
</plugin>
